Repository fga-eps-mds/2023-1-MeasureSoftGram-Doc, pull requests merged in 2023-05, with the labels that each got.

#9 Guia de contribuição
  docs/guia_contribuicao/CODE_OF_CONDUCT.md
  docs/guia_contribuicao/branches.md
  docs/guia_contribuicao/commits.md
  docs/guia_contribuicao/como_contribuir.md
  mkdocs.yml
Labels: documentation

#24 Docs heatmap knowledge table
  docs/heatmap_knowledge-table/heatmap.md
  docs/heatmap_knowledge-table/knowledge-table.md
  mkdocs.yml
Labels: DOCS

#44 Docs 14 ferramentas agendas
  docs/assets/agendas_e_ferramentas/Grade_Horária.png
  docs/assets/agendas_e_ferramentas/Quadro_conhecimento_eps.png
  docs/assets/agendas_e_ferramentas/roadmap.png
  docs/documentos_de_projeto/agenda_e_ferramentas.md
Labels: documentation

#46 Fix mkdocs navigation
  docs/heatmap_knowledge_table/heatmap.md
  docs/heatmap_knowledge_table/knowledge_table.md
  mkdocs.yml
Labels: HOTFIX

#54 add_plano_riscos.md
  docs/documentos_de_projeto/plano_de_riscos.md
  mkdocs.yml
Labels: DOCS

#53 Lean inception
  docs/assets/lean_inception/Brainstorm.png
  docs/assets/lean_inception/Canvas_MVP.png
  docs/assets/lean_inception/Jornada_Amanda.png
  docs/assets/lean_inception/Jornada_Miguel.png
  docs/assets/lean_inception/Jornada_Paulo.png
  docs/assets/lean_inception/Jornada_Valeria.png
  docs/assets/lean_inception/Persona_1.png
  docs/assets/lean_inception/Persona_2.png
  docs/assets/lean_inception/Persona_3.png
  docs/assets/lean_inception/Persona_4.png
  docs/assets/lean_inception/quadro_não_é.png
  docs/assets/lean_inception/quadro_é.png
  docs/assets/lean_inception/revisão_tecnica.png
  docs/assets/lean_inception/sequenciador.png
  docs/assets/lean_inception/visao-produto-1.png
  docs/assets/lean_inception/visao-produto-2.png
  docs/assets/lean_inception/visao-produto-3.png
  docs/lean_inception/Brainstorming_Funcionalidades.md
  docs/lean_inception/Canvas_MVP.md
  docs/lean_inception/E_Nao_E_Faz_Nao_Faz.md
  docs/lean_inception/Introducao.md
  docs/lean_inception/Jornada_de_usuario.md
  docs/lean_inception/Mural.md
  docs/lean_inception/Personas.md
  docs/lean_inception/Revisao_Tecnica.md
  docs/lean_inception/Sequenciador.md
  docs/lean_inception/visao_do_produto.md
  mkdocs.yml
Labels: DOCS

#82 Correção da sidebar de documentação do projeto
  mkdocs.yml
Labels: DOCS

#84 Criação de Documento de backlog
  docs/assets/images/roadmap_geral.svg
  docs/assets/images/roadmap_release1.svg
  docs/documentos_de_projeto/roadmap.md
  mkdocs.yml
Labels: DOCS
